.store {
   
    .header{
        background-color: var(--purple-color) !important;
       
    }
    button{
        background: linear-gradient(180deg, #37007B 0%, #4044A7 100%);
    padding: 5px 20px;
    border-radius: 20px;
    
    }
    .delete-btn{
        color: var(--red-color) !important;
    
    }
      }