.change-bg {
  background: url("../../assets/bg-layer.png");
  min-height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  header{
    height: 50px;
  }
}
.white-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff44;
  border-radius: 50px;
  width: 155px;
  padding-right: 15px;
  gap: 7px;
  position: relative;

  .userImage {
    border: 1px solid white;
    border-radius: 50px;
    background: white;
  }
}
.change-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-color) !important;
  width: 135px;
  height: 39px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
}
