{
  "prettier/prettier": [
    "error",
    {
      "singleQuote": false,
      "parser": "flow"
    }
  ],
  "singleQuote": false,
  "bracketSpacing": false,
  
  "semi": false,
  "trailingComma": "all",
  "endOfLine": "auto"
}