.playground{
    background: url('../../assets/photos/bg7.png');
    min-height: 100vh;
    background-position: bottom;  
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;


  .ticket-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff44;
    border-radius: 50px;
    width: max-content;  
    padding-right: 15px;
    height:  35px;;
    gap: 7px;
  .ticket-prize {
    color: white;
    height: 41px;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  
  .ticket {
    height: 35px;
    border: 1px solid white;
    border-radius: 50px;
    background: white; 
    margin-right: 5px;  
  }
  }

.player1 , .player2{
  text-align: center;
  background-color: var(--baby-blue) !important;
  color: var(--purple-color)  !important;
  border-radius: 25px;
  position: relative;
  padding: 8px 10px;
  width: 145px;
  img{
    position: absolute;
    top: -25px;
    right: 50px;
    width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid white;
  }
  .x-player{
    color: var(--red-color) !important;
    margin-top: 10px;
  }
  .o-player{
    color: var(--green-color) !important;
    margin-top: 10px;

  }
}

.big-box{
  background-color: var(--baby-blue) !important;
  border-radius: 15px;
  margin:  5px;
  .box1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-color) !important;
  border-radius: 10px;
  height: 73px;
  width: 73px;


}
}


.username{
  font-size: small;
} 
 }