.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
  }
  .modal.closed {
    display: none;
  }
  .modal__content {
    width: 100%;
    background-color: purple;
  }
  
.score {
    text-align: center;
  }
  .score__title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 30px 0;
    justify-content: center;
  }
  
  .score__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }