.wallet-page {
  min-height: 100vh;
  background-color: var(--dark-blue-color) !important;  
  header {
    background-color: var(--purple-color) !important;
    height: 120px;
  }
  .credit {
    margin-bottom: 50px;
    margin-top: 100px;
  }

}
