.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    margin-top: 10px;
    height: 90px;
  }

  .title-text {
    position: absolute;
    top: 65px;
    font-size: 30px;
    font-weight: bold;
    margin-right: 26px;
  }

 
@media only screen and (max-width: 600px) {
  .title {
    .title-text {
      font-size: 22px;
      margin-right: 43px;
        }
        
  img {
     height: auto;
  }

  }
}

.gray-color {
  color: #9f9f9f !important;
}

.blue-color {
  color: #7ac7ec !important;
}

.purple-color {
  color: #9d3a9b !important;
}
}