.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    margin-top: 10px;
    height: 90px;
  }

  .title-text {
    position: absolute;
    top: 65px;
    font-size: 30px;
    font-weight: bold;
    margin-right: 26px;
  }

 


.gray-color {
  color: #9f9f9f !important;
}

.blue-color {
  color: #7ac7ec !important;
}

.purple-color {
  color: #9d3a9b !important;
}
}

@media only screen and (max-width: 410px) {
  .title {
   
        
  img {
    margin-top: 20px;
    height:77px;
   }
   .title-text { 
    margin-right: 35px
  }


  }
}
@media only screen and (max-width: 390px) {
  .title {
   
        
    .title-text { 
      margin-right: 50px
    }
  
  }
}