.users-points {
    img{
        width: 200px;
        height: 133px;
            }
   
    .header{
        background-color: var(--purple-color) !important;
        border-radius: 25px;
        padding: 10px;
        margin: 10px;
    }
    button{
        background: linear-gradient(180deg, #37007B 0%, #4044A7 100%);
    padding: 5px 20px;
    border-radius: 20px;
    
    }
      }