.level{
    background: url('../../assets/photos/bg-layer.png');
    min-height: 100vh;
    background-position: bottom;  
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
      .white-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff44;
    border-radius: 50px;
    width: 156px;
    padding-right:15px;
    gap: 7px;
    position: relative;
    
.userImage{
  border: 1px solid white;
  border-radius: 50px;
  background: white;
}
  }
  .user-level{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-color) !important;
  }
  .center-screen{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content:center ;
  }
  }
