.coins-store {
   
    .header{
        background-color: var(--purple-color) !important;
       
    }
    button{
        background: linear-gradient(180deg, #37007B 0%, #4044A7 100%);
    padding: 5px 20px;
    border-radius: 20px;
    
    }
    .delete-btn{
        color: var(--red-color) !important;
    
    }
    .prize {
        background-color: var(--purple-color) !important;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        width: 90px;
        height: 125px;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
          .count{
              color: var(--red-color) !important;
              width: fit-content;
          }
          .img-container {
            height: 75px;
            width: 90px;
            background-color: #d9d9d9;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
         
          }
          .ticket-img{
            width: 55px;
        height: 55px;
        
          }
      }
      .delete-update-btn {
        width: 35%;

      }
      @media only screen  and (max-width: 1200px) {
        .delete-update-btn  {
          width: 100%;
        }
      }
      }


 