.forget-password-bg{
    background: url('../../assets/photos/bg-layer.png');
    min-height: 100vh;
    background-position: center;  
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    padding: 5px; 
    color: white !important;
  
    .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
        color: white !important;
    }
    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
        color: white !important;
    }
    .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
        color: white !important;
        border-color: white !important;

    }
    .forget-btn{
        background: linear-gradient(180deg, #37007B 0%, #4044A7 100%);
        // padding: 15px !important; 
        // margin: auto;
        // width: 100%;
        
      }
      .circle-bg{
        background: linear-gradient(180deg, #37007B 0%, #4044A7 100%);
        width: 170px;
         height: 170px ;
        
      }
 
  }