.footer{
    background: linear-gradient(180deg, #3C0384 0%, #953976 100%);
    padding: 8px 60px;
   .footer-icons{
    width: 45px;
    height: 45px;
   }
   .active-link {
    width: 45px;
    height: 45px;
    transform: translateY(-7px);
    color: white !important;
  }
  .not-active{
    transition: all 0.2s;
    &:hover{
      transform: translateY(-2px);
      color: white;
    }
    color: rgba(163, 163, 163, 0.785) ;
  }
 
}  

@media (max-width: 992px) {
    .footer {
      padding: 8px 20px;  
  
      .footer-icons {
        width: 40px;
        height: 40px;
      }
  
    }
  }
  
  @media (max-width: 480px) {
    .footer {
        padding: 8px 10px;  
  
        .footer-icons {
          width: 25px;
          height: 25px;
        }
    }
  }
  