.user {
    background: url("../../assets/bg-layer.png");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  .user-info {
     img {
      width: 112px;
      height: 101px;


    }
  }
 

  }
 
  
