.background {
  background: url('../../assets//bg2.png');
  min-height: 100vh;
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
}
